
        body {
            font-family: 'Georgia', sans-serif;
            font-size: 16px;
            color: #333;
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }

      h4 {
    color: #0066cc;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #0066cc;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h3 {
    color: #0066cc;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


        p {
            margin-bottom: 30px;
            letter-spacing: 1.7px;
            line-height: 3;
            text-align: justify;
            padding: 10px;
        }

        /* Add your other styles here */
        .paragraph {
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 20px;
            text-align: center;
            position: relative;
        }

        .paragraph img {
            max-width: 100%;
            height: auto;
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 15px 50px;
            border-radius: 5px;
            cursor: pointer;
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
            transition: 0.3s;
        }

        .button:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.7); 
        }

        .progress-container {
            width: 100%;
            background-color: #f1f1f1;
        }

        .progress-bar {
            width: 0;
            height: 30px;
            text-align: center;
            line-height: 30px;
        }

        .ratings-section {
            /* Add styles for the ratings section */
        }

        .rating {
            /* Add styles for the rating container */
        }

        .rating-stars {
            /* Add styles for the rating stars */
        }

        .rating-count {
        }

        .rating-form {
        }

        .rating-input {
        }

        .submit-rating-button {
        }
